.Joke {
    justify-content: space-evenly;     
    display: flex;     
    width: 797px;     
    margin: 0 auto 30px;
    border: 1px solid black;
}

.Joke-text {
    width: 500px;
}

.Joke-text, .Joke-emoji {
    display:  flex;
    align-items:center;         
    justify-content:center;
}

.Joke-emoji i {
    color: #ffbc00;
    font-size: 42px;
}
